{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<section class="page-section">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About this project</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cloud"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p></p>
    </div>
</section>        
<section class="page-section">
    <div class="container">
        <p></p>
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">About this project</h1>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-football" style="font-size:24px"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p></p>
        <div class="row">
            <p></p>
            <div class="col-lg-4 ms-auto">
                <h5>The Idea</h5>
                <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-4 me-auto"><p class="lead"><img src="static/img/ball.svg" alt="..." width="400" height="400"></p></div>
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead"><img src="static/img/ball.svg" alt="..." width="400" height="400"></p></div>
            <div class="col-lg-4 me-auto">
                <h5>Data Source</h5>
                <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <p></p>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <h5>The structure</h5>
                <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-4 me-auto"><p class="lead"><img src="static/img/ball.svg" alt="..." width="400" height="400"></p></div>
        </div>
        <p></p>
    </div>
</section>

{% endblock %}