{% extends "base.html" %}

{% block title %}Contact{% endblock %}


{% block content %}

<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</section>    
<section class="page-section" id="contact">
    <div class="container">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Contacts</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"><i></i></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-football" color="#b62126" style="font-size:24px"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p></p>
        <div class="row">
            <p></p>
            <div class="col-lg-4 ms-auto"><p class="lead"><img src="static/img/Andrea_peep (Copy).svg" alt="..." width="400" height="400"></p></div>
            <div class="col-lg-4 me-auto">
                <h3>Andrea Viviani</h3>
                <h5>Data Scientist | Product Manager</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="container d-flex align-items-center flex-column">
                <h3>Reach out to me</h3>
                <p></p>
                <img class="masthead-avatar mb-5" src="static/img/qrcode.svg" alt="..." width="250" height="250"/>
            </div>
        </div>
        <p></p>
    </div>
</section>

{% endblock %}