{% macro header() -%}
    <header class="masthead bg-primary text-white text-center">
        <div class="row">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-5" src="static/img/nfl_logo.svg" alt="..." />
                <h1 class="masthead-heading mb-0">Predicting NLF games</h1>
                <p></p>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-football" color="#b62126" style="font-size:24px"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">As an “armchair quarterback” watching the game, you may think you can predict the result of a play when a ball carrier takes the handoff - but what does the data say?</p>
            </div>
        </div>
    </header>


   

    

{%- endmacro %}